<!DOCTYPE html>
{% load widget_tweaks %}
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>ВегоДом</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website Landing Page for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/bootstrap/css/bootstrap22.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/font-awesome/css/font-awesome.css">


    <!-- github calendar css -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/github-calendar/dist/github-calendar.css"
    />
    <!-- github acitivity css -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/github-activity/src/github-activity.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ STATIC_URL }}assets/css/styles.css">
    <!--    <link id="callback-bt" rel="stylesheet" href="{{ STATIC_URL }}assets/css/styles1.css">-->
    <!--    <link id="button openModal" rel="stylesheet" href="{{ STATIC_URL }}assets/css/styles2.css">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- ******HEADER****** -->
<header class="header">
    <div class="container">
        <div class="profile-content pull-left">
            <a href="/">
                <img class="profile-image img-responsive pull-left" src="{{ STATIC_URL }}assets/images/profile.png"
                     alt="James Lee"/>

            </a>
        </div>
        <div class="profile-content pull-left" style="
    margin-right: 30px;">
            <h2><font color="rgba(240, 50, 50, )" size="6" face="comic sans ms">Ремонт окон и дверей</font>
            </h2>
            <h2><font color="rgba(240, 50, 50, )" face="comic sans ms">Работаем круглосуточно</font></h2>
            <!--                        <ul class="social list-inline">-->
            <!--                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
            <!--                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
            <!--                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
            <!--                            <li><a href="#"><i class="fa fa-github-alt"></i></a></li>-->
            <!--                            <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>-->
            <!--                        </ul>-->

        </div><!--//profile-->

        <!--        <div class="profile-content pull-left" style="-->
        <!--    margin-right: 30px;">-->
        <!--            <h2><font color="rgba(240, 50, 50, )" size="6" face="comic sans ms">ремонт окон и дверей</font>-->
        <!--            </h2>-->
        <!--            <h2><font color="rgba(240, 50, 50, )" face="comic sans ms">круглосуточно</font></h2>-->
        <!--            &lt;!&ndash;                        <ul class="social list-inline">&ndash;&gt;-->
        <!--            &lt;!&ndash;                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>&ndash;&gt;-->
        <!--            &lt;!&ndash;                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>&ndash;&gt;-->
        <!--            &lt;!&ndash;                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>&ndash;&gt;-->
        <!--            &lt;!&ndash;                            <li><a href="#"><i class="fa fa-github-alt"></i></a></li>&ndash;&gt;-->
        <!--            &lt;!&ndash;                            <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>&ndash;&gt;-->
        <!--            &lt;!&ndash;                        </ul>&ndash;&gt;-->

        <!--        </div>&lt;!&ndash;//profile&ndash;&gt;-->
        {% for adres in adress %}
        <div class="profile-content pull-left" style="
    margin-right: 30px;
">
            <h2><font color="rgba(240, 50, 50, )" size="6" face="comic sans ms">{{ adres.phone1 }}</font>
            </h2>
            <h2><font color="rgba(240, 50, 50, )" size="6" face="comic sans ms">{{ adres.phone2 }}</font></h2>
        </div><!--//profile-->
        {% endfor %}

        <!--         ******КНОПКА******-->
        <!--        <a class="btn btn-cta-primary float-right" href="https://themes.3rdwavemedia.com/" target="_blank"><i-->
        <!--                class="fas fa-paper-plane"></i> Contact Me</a>-->

        <!--        Button trigger modal-->
        <button type="submit" class="btnhead" data-toggle="modal" data-target="#exampleModalCenter">
            Заказать ремонт
        </button>
        <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact"
              method="post" action="#">
            {% csrf_token %}
            <!-- Modal -->
            <div class="modal fade" position="absolute" id="exampleModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!--                            <i class="modal-title" id="exampleModalLongTitle" >Перезвоним в ближайшее время</i>-->
                            <font class="zapis" size="6" color="black" style="font-family:Cursive;">Перезвоним в
                                ближайшее время</font>
                            <!--                            <button type="submit" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--                                <span aria-hidden="true">&times;</span>-->
                            <!--  3                          </button>-->
                        </div>
                        <!--                        <div class="modal-body">-->
                        <!--  1                          <p>Имя</p>-->
                        <!--                            {{ form.name|add_class:"form-input" }}-->
                        <!--                        </div>-->
                        <div class="modal-body">
                            <!--                            <p>Введите номер</p>-->
                            {{ form.telefon|add_class:"form-input" }}
                            <button type="submit" class="btn btn-primary">Заказать ремонт</button>
                        </div>

                        <!--                        <div class="modal-footer">-->
                        <!--  2                          &lt;!&ndash;                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&ndash;&gt;-->
                        <!--                            <button type="submit" class="btn btn-primary">Перезвоните мне</button>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </form>
        <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact"
              method="post" action="#">

            {% csrf_token %}

            <!--            <div class="form-wrap wow fadeInRight">-->
            <!--                <p>Телефон</p>-->
            <!--                {{ form.telefon|add_class:"form-input" }}-->
            <!--                &lt;!&ndash;                <label class="form-label" for="telefon">Телефон</label>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <input class="form-input" id="telefon" type="text" name="telefon" data-constraints="@Required">&ndash;&gt;-->
            <!--            </div>-->

            <!--            <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i-->
            <!--                    class="fa fa-paper-post"></i> Оствьте заявку </a>-->
            <br>
            <!--            <div class="btn-cta-primary pull-right">-->
            <!--                <h4><font color="rgba(240, 50, 50, )" face="Arial">{{ form.tel|add_class:"form-input" }}</font></h4>-->
            <!--                <button class="btn-cta-primary">-->
            <!--                    <div>-->
            <!--                        <div class="text-call">-->
            <!--                            <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--                            <span>Заказать звонок</span>-->
            <!--                        </div>-->
            <!--                    </div>-->

            <!--                </button>-->
            <!--            </div>-->

            <!--            <div class="form-wrap wow fadeInRight pull-right">-->

            <!--                <button class="btn btn-cta-primary pull-right" type="submit">Отправить**</button>-->
            <!--            </div>-->


        </form>

    </div><!--//container-->
</header><!--//header-->


<div class="los">
    <div class="header1">
        <div class="container">
            <div class="profile-content pull-left">
                <a href="/">
                    <img class="profile-image img-responsive pull-left" src="{{ STATIC_URL }}assets/images/profile.png"
                         alt="James Lee"/>

                </a>
            </div>
            <div class="profile-content pull-left" style="
    margin-right: 30px;">
                <h2><font color="rgba(240, 50, 50, )" size="6" face="comic sans ms">Ра3о3333333333х</font>
                </h2>
                <h2><font color="rgba(240, 50, 50, )" face="comic sans ms">с 83333333300</font></h2>
                <!--                        <ul class="social list-inline">-->
                <!--                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                <!--                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                <!--                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                <!--                            <li><a href="#"><i class="fa fa-github-alt"></i></a></li>-->
                <!--                            <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>-->
                <!--                        </ul>-->

            </div><!--//profile-->
            <div class="profile-content pull-left" style="
    margin-right: 30px;">
                <h2><font color="rgba(240, 50, 50, )" size="6" face="comic sans ms">Ра3о3333333333х</font>
                </h2>
                <h2><font color="rgba(240, 50, 50, )" face="comic sans ms">с 83333333300</font></h2>
                <!--                        <ul class="social list-inline">-->
                <!--                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                <!--                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                <!--                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                <!--                            <li><a href="#"><i class="fa fa-github-alt"></i></a></li>-->
                <!--                            <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>-->
                <!--                        </ul>-->

            </div><!--//profile-->
            <div class="profile-content pull-left" style="
    margin-right: 30px;
">
                <h2><font color="rgba(240, 50, 50, )" size="6" face="comic sans ms">888888888 }}</font>
                </h2>
                <h2><font color="rgba(240, 50, 50, )" size="6" face="comic sans ms">88888phone2 }}</font></h2>
            </div><!--//profile-->

            <!--         ******КНОПКА******-->
            <!--        <a class="btn btn-cta-primary float-right" href="https://themes.3rdwavemedia.com/" target="_blank"><i-->
            <!--                class="fas fa-paper-plane"></i> Contact Me</a>-->


        </div><!--//container-->
    </div>
</div>

<!-- -&#45;&#&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<div id="" class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">

            <section class="latest section">

                <div class="section-inner">
                    <div class="all">
                        <input checked type="radio" name="respond" id="desktop">
                        <article id="slider">
                            <input checked type="radio" name="slider" id="switch1">
                            <input type="radio" name="slider" id="switch2">
                            <input type="radio" name="slider" id="switch3">
                            <div id="slides">
                                <div id="overflow">
                                    <div class="image">
                                        <article><img src="{{ STATIC_URL }}assets/images/sldotk1.jpg"></article>
                                        <article><img src="{{ STATIC_URL }}assets/images/sldotk2.jpg"></article>
                                        <article><img src="{{ STATIC_URL }}assets/images/sldotk3.jpg"></article>
                                    </div>
                                </div>
                            </div>
                            <div id="controls">
                                <label for="switch1"></label>
                                <label for="switch2"></label>
                                <label for="switch3"></label>
                            </div>
                            <div id="active">
                                <label for="switch1"></label>
                                <label for="switch2"></label>
                                <label for="switch3"></label>
                            </div>
                        </article>
                    </div>
                    <br>
                    <h2 class="heading" align="center"><font style="
    font-weight: bold;" color="#337ab7">УСТАНОВКА
                        ОТКОСОВ НА ОКНА И ДВЕРИ</font>
                    </h2>
                    <div class="content">

                        <div class="item featured text-center">


                            <div class="desc text-left">
                                <h4>От качества установленных откосов будет
                                    зависеть не только внешний вид окна в целом, но и его эксплуаационные характеристики
                                    на ближайшие 10лет. Мастера по откосам в нашей компании имеют опыт более 10 лет.
                                    Наши откосы не выцветают на солнце и не боятся влаги! Установку откосов делаем за 1
                                    день, замер бесплатно!
                                    <br>
                                    <br>
                                </h4>
                            </div><!--//desc-->
                            <!--//desc-->
                        </div><!--//item-->
                    </div><!--//content-->
                    <div class="featured-image">

                        <img class="img-responsive project-image"
                             src="{{ STATIC_URL }}assets/images/otk1.jpg"
                             alt="project name"/>

                    </div>
                    <h2 class="heading" align="center"><font style="
    font-weight: bold;" color="#337ab7">КАКИЕ БЫВАЮТ
                        ОТКОСЫ</font></h2>
                    <div class="content">

                        <div class="item featured text-center">


                            <div class="desc text-left">
                                <h4>1. Штукатурка – легко отделать оконные
                                    проемы внутри и снаружи любой формы: арочные, стрельчатые, круглые. Если у вас есть
                                    опыт строительных работ, сделать облицовку проемов можно самостоятельно. Недостатки
                                    работы новичков в этой области будут сильно бросаться в глаза, поэтому лучше
                                    обратитесь к мастеру. Минусы – многослойность процесса, использование жидких
                                    строительных смесей и пахучих красок, гигроскопичны. Минусы - Склонные к
                                    растрескиванию, требуется покраска, недолговечность.</h4>
                                <h4>2. Из гипсокартона. Подходит только для
                                    внутренних работ, но не имеет себе равных по цене. Прямоугольные проемы выполняются
                                    очень просто – гипсокартон легко раскраивается, крепится, штукатурится тонким слоем.
                                    Труднее выполнять отделку нестандартных по форме окон. В разрезе из этого материала
                                    получается «слоеный пирожок» - гипсокартон, грунтовка, штукатурка, краска. Поэтому
                                    из минусов также отмечается склонность к расслоению, набуханию, появлению
                                    плесени;</h4>
                                <h4>3. Из пластика. Это вариант отделки «в
                                    один прием». Все, что требуется – закрепить сэндвич – панели и обработать стыки
                                    герметиком. Никаких дополнительных обработок: оштукатуривания, нанесения краски или
                                    лака.</h4>
                            </div><!--//desc-->
                            <!--//desc-->
                        </div><!--//item-->
                    </div><!--//content-->
                    <h2 class="heading" align="center"><font style="
    font-weight: bold;" color="#337ab7">СРАВНИТЕЛЬНАЯ
                        ТАБЛИЦА ТЕХНИЧЕСКИХ ХАРАКТЕРИСТИК МАТЕРИАЛОВ</font></h2>
                    <div class="featured-image">

                        <img class="img-responsive project-image"
                             src="{{ STATIC_URL }}assets/images/otk2.jpg"
                             alt="project name"/>

                    </div>
                    <br>
                    <br>
                    <br>
                    <h2 class="heading" align="center"><font style="
    font-weight: bold;" color="#337ab7">ОРИЕНТИРОВОЧНАЯ
                        СТОИМОСТЬ ОТДЕЛКИ ОТКОСОВ СТАНДАРТНЫХ ОКОН</font></h2>
                    <div class="row" align="center">
                        <div class="col-md-16">
                            <div class="col-md-4">
                                <h4>Двухстворчатое окно</h4>

                                <img class="img-responsive project-image"
                                     src="{{ STATIC_URL }}assets/images/o1.jpg"
                                     alt="project name"/>
                                <h4 align="center">от 2200 руб.</h4>

                                <button type="submit" class="btnhead" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                    Узнать стоимость
                                </button>

                            </div>
                            <div class="col-md-4">
                                <h4>Трехстворчатое окно</h4>

                                <img class="img-responsive project-image"
                                     src="{{ STATIC_URL }}assets/images/o2.jpg"
                                     alt="project name"/>
                                <h4 align="center">от 2800 руб.</h4>

                                <button type="submit" class="btnhead" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                    Узнать стоимость
                                </button>

                            </div>
                            <div class="col-md-4">
                                <h4>Балконный блок</h4>

                                <img class="img-responsive project-image"
                                     src="{{ STATIC_URL }}assets/images/o3.jpg"
                                     alt="project name"/>
                                <h4 align="center">от 3300 руб.</h4>

                                <button type="submit" class="btnhead" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                    Узнать стоимость
                                </button>

                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <h2 class="heading" align="center"><font style="
    font-weight: bold;" color="#337ab7">ОТЗЫВЫ О НАС</font></h2>

                </div><!--//section-inner-->
            </section><!--//section-->


        </div><!--//primary основные блоки   -->
        <!--БОКОВЫЕ БЛОКИ--->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>г.Самара ул.
                                Ново-Вокзальная, д. 12
                            </li>
                            <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">vegodom@mail.ru</a>
                            </li>
                            <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a
                                    href="http://vegodom.ru/" target="_blank">Новые окна и двери</a>
                            </li>
                            <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a
                                    href="about">О нас</a>
                            </li>

                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner    контакты-->
            </aside><!--//aside контакты-->
            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">uslugi</h2>
                    <div class="content">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-square"></i><span class="sr-only">Location:</span>Наши услуги:
                            </li>
                            <li><i class="fa-li fa fa-check-square"></i><span class="sr-only">Website:</span><a
                                    href="obsluga">Обслуживание-ремонт</a>
                            </li>
                            <li><i class="fa-li fa fa-check-square"></i><span class="sr-only">Website:</span><a
                                    href="otkos">Откосы</a>
                            </li>
                            <li><i class="fa-li fa fa-check-square"></i><span class="sr-only">Website:</span><a
                                    href="moskit">Москитные сетки</a>
                            </li>
                            <li><i class="fa-li fa fa-check-square"></i><span class="sr-only">Website:</span><a
                                    href="steklopaket">Стеклопакеты</a>
                            </li>
                            <li><i class="fa-li fa fa-check-square"></i><span class="sr-only">Website:</span><a
                                    href="podokonnik">Установка подоконников</a>
                            </li>
                            <li><i class="fa-li fa fa-check-square"></i><span class="sr-only">Website:</span><a
                                    href="help">Как определить когда надо звать мастера?</a>
                            </li>
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside   услуги-->


            <aside class="education aside section">
                <div class="section-inner">
                    <h2 class="heading">Прайс</h2>
                    <div class="content">
                        {% for cena in cenas %}
                        <p>Ремонт от 500 руб.</p>
                        <p>Откосы от 2000 руб.</p>
                        <div class="item">
                            <p>Полный прайс</p>
                            <a href="{{ cena.price.url }}" target="blank" title="More Details"><i
                                    class="bx bx-plus">Скачать</i></a>
                        </div><!--//item-->
                        {% endfor %}


                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->


        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="f-site-map">
                    <h4>Услуги</h4>
                    <p><a href="obsluga" class="foot">Обслуживание-ремонт</a></p>
                    <p><a href="otkos" class="foot">Откосы</a></p>
                    <p><a href="moskit" class="foot">Москитные сетки</a></p>
                    <p><a href="steklopaket" class="foot">Стеклопакеты</a></p>
                    <p><a href="podokonnik" class="foot">Установка подоконников</a></p>
                    <p><a href="help" class="foot">Как определить когда надо звать мастера?</a></p>


                </div>
            </div>


            <div class="col-xs-6 col-md-3" style="min-height:270px">
                <div class="f-site-map">
                    <h4 class="foot">Адреса офисов</h4>
                    <p class="foot">ул. 22го Партсъезда, д.52, офис 107</p>
                    <p class="foot">ул. Ново-Вокзальная, д. 12</p>


                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2" style="min-height:270px">
                <div class="text-left">
                    <h4>Телефон</h4>

                    <p><a href="tel:8 (846) 225-32-28" class="f-phone">8 (846) 225-32-28</a></p>
                    <p><a href="tel:8 (846) 990-87-02" class="f-phone">8 (846) 990-87-02</a></p>

                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2" style="min-height:270px">
            </div>
            <!--		<div class="col-xs-6 col-sm-6 col-md-2" style="min-height:270px">-->
            <!--<a href="#" class="back-to-top" style="display: inline;">-->
            <!--    <i class="icofont-simple-right">-->
            <!--        <img width="30%" height="30%" src="{{ STATIC_URL }}assets/images/up.svg" />-->
            <!--    </i></a>-->

            <!--			</div>-->
        </div>
    </div>


    </div>
    </div>
    <div class="container text-center">
        © 2007-2021 «Вегодом» Все права защищены
        <br>
        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
        <small class="copyright "><a href="https://manchuk.ru/"
                                     target="_blank">Developer Manchuk Sergey</a> </small>
        <small class="copyright "><a href="/admin/"
                                     target="_blank">админка</a> </small>
    </div><!--//container-->

</footer><!--//footer-->

<!-- Javascript -->
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script>
<!-- github calendar plugin -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}assets/plugins/github-calendar/dist/github-calendar.min.js"></script>
<!-- github activity plugin -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/github-activity/src/github-activity.js"></script>
<!-- custom js -->
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/main.js"></script>


</body>
</html>

